@font-face {
    font-family: 'FFFForward';
    src: url('../fonts/FFFForward/FFFForward.woff2') format('woff2'),
    url('../fonts/FFFForward/FFFForward.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: black;
    color: white;
    height: 70vh;
}

.container {
    display: flex;
}

#header {
    font-family: "FFFForward";
    text-align: center;
}