@font-face {
    font-family: 'FFFForward';
    src: url('../fonts/FFFForward/FFFForward.woff2') format('woff2'),
    url('../fonts/FFFForward/FFFForward.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: black;
    color: white;
    height: 70vh;
    margin: 0%;
}

.containerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "FFFForward";
    text-align: center;
}

#wrapperHeader {
    border-bottom: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    font-family: "FFFForward";
    text-align: center;
}

.wrapperCanvas {
    line-height: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvasTitle {
    font-family: "FFFForward";
    text-align: center;
    height: 25%;
}

.canvas {
    font-family: "FFFForward";
    text-align: center;
    height: 75%;
}

.wrapperFooter {
    border-top: 10px solid white;
    line-height: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    font-family: "FFFForward";
    text-align: center;
}

.event {
    font-family: "Segoe UI";
    font-size: 3vh;
    height: 1em;
    border-bottom: 2px solid white;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 0%;
}