.navbar-link {
  color: #444;
}

.img-logo {
  max-height: 64px;
}

.background-image-filter {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  width: 101%;
}

p {
  line-height: 2rem;
}

span.link-text-visible {
  font-weight: bold;
}

.button-collapse {
  color: #26a69a;
}

.profile-image{
  border-radius: 5%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-orientation: from-image;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .img-logo {
    max-height: 56px;
  }
}

@media only screen and (max-width : 420px) {
  .page-header{
    font-size: 3.5rem;
  }
}

@media only screen and (max-width : 350px) {
  .page-header{
    font-size: 3rem;
  }
}

@media only screen and (max-width : 700px) {
  .background-image-filter {
    width: auto;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.apiName {
 font-size: 1.8rem;
}

.apiDate {
  font-size: 1.2rem;
}

.apiTime {
  font-size: 1.2rem;
  margin-bottom: 100px;
}

